/* ----------------------------------------------------------------- Basico css ---------------------------------------------------------*/
body {
    min-height: 100vh;
    margin: 0px;
    background-image: url(../assets/img/fondo.jpg);
    z-index: 1;
}
body::before {
    opacity: 0.2;
}
h1 {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 10;
    margin-top: -10px;
    padding: 10px 0;
    font-style: italic;
    font-weight: 900;
    color: darkcyan;
    font-size: 40px;
}
nav {
    position: fixed;
    left: 0;
    width: 70px;
    background-color: rgb(97, 124, 255);
    height: 50%;
    z-index: 15;
    border: 1px solid gray;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow:
    0 0 10px #ffffff,  /* Brillo externo */
    0 0 20px #ffffff,  /* Brillo más difuso */
    0 0 30px rgb(255, 255, 255), /* Efecto neón */
    inset 0 0 10px rgb(255, 255, 255);
}
nav section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
button {
    width: 35px;
    margin-top: 20px;
}

footer {
    height: 100%;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
}


footer div{
    color: darkcyan;
}

a {
    text-decoration: none;
    color: darkcyan;
}

svg {
    width: 35px;
    height: 35px;;
}


/* -------------------------------------------------------- CONTENEDOR PRINCIPAL -------------------------------------------------*/
main {
    margin-left: 110px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main div{
    width: 370px;
    height: 300px;
    margin: 24px;
    border: 1px solid black;
    border-radius: 10px;
}

.color1 {
    background-color: lightcoral;
    box-shadow: 0px 0px 10px 3px lightcoral;
}

.color2 {
    background-color: lightblue;
    box-shadow: 0px 0px 10px 3px lightblue;
}

.color3 {
    background-color: lightyellow;
    box-shadow: 0px 0px 10px 3px lightyellow;
}
.color4 {
    background-color: lightsalmon;
    box-shadow: 0px 0px 10px 3px lightsalmon;
}
.color5 {
    background-color: lightseagreen;
    box-shadow: 0px 0px 10px 3px lightseagreen;
}

/* --------------------------------- Nota ------------------------------*/
.textoNota {
    position: relative;
    margin: 15px;
    width: 330px;
    height: 220px;
    overflow: scroll;
    font-size: 20px;
}

/* ---------------------------------------------------------- BOTONES ---------------------------------------------------- */
#botonLogin {
    padding: 0px;
    background-color: transparent;
    border:0px;
    margin-top: 65px;
}

#botonLogin:hover {
    color: black;
}

#botonSettings {
    background-color: transparent;
    border: 0px;
}

#botonSettings:hover {
    color: black;
}

#botonLogout {
    background-color: transparent;
    border: 0px;
}

#botonLogout:hover {
    color: black;
}

.botonesConfiguracion {
    color: white;
}

button {
    width: 50px;
    height: 20px;
}

.botonesPrincipales {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 23px;
    text-align: center;
}

.botonesPrincipales:hover {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px white;
}

#botonPrincipal1 {
    background-color: lightcoral;
}
#botonPrincipal2 {
    background-color: lightblue;
}
#botonPrincipal3 {
    background-color: lightyellow;
}
#botonPrincipal4 {
    background-color: lightsalmon;
}
#botonPrincipal5 {
    background-color: lightseagreen;
}

.botonesNota {
    display: flex;
    justify-content: space-between;
}

.borrar {
    margin: 0px;
    width: 50px;
    height: 30px;
    margin-left: 40px; 
    background-color: transparent;
    border: none;
}

.borrar:hover {
    color: red;
}

.descargar {
    margin: 0px;
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.descargar:hover {
    color: blue;
}

.guardar {
    margin: 0px;
    width: 50px;
    height: 30px;
    margin-right: 40px;
    background-color: transparent;
    border: none;
}

.guardar:hover {
    color: green;
}
