/* ----------------------------------------------------------------- Basico css ---------------------------------------------------------*/
body {
    font-family: sans-serif;
    min-height: 100vh;
    margin: 0px;
    background-image: url(../assets/img/fondo.jpg);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 10;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 10px 0;
    font-style: italic;
    font-weight: 900;
    color: darkcyan;
    font-size: 40px;
}
nav {
    position: fixed;
    left: 0;
    width: 70px;
    background-color: rgb(97, 124, 255);
    height: 500px;
    z-index: 15;
    border: 1px solid gray;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow:
    0 0 10px #ffffff,  /* Brillo externo */
    0 0 20px #ffffff,  /* Brillo más difuso */
    0 0 30px rgb(255, 255, 255), /* Efecto neón */
    inset 0 0 10px rgb(255, 255, 255);
}
nav section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
button {
    width: 35px;
    margin-top: 20px;
}

footer {

    width: 100%;
}

footer section{
    display: flex;
    justify-content: space-around;
}


footer div{
    color: darkcyan;
}

a {
    text-decoration: none;
    color: darkcyan;
}
a:hover {
    color: black;
}

svg {
    width: 35px;
    height: 35px;;
}


/* -------------------------------------------- CONTENEDOR PRINCIPAL (NOTAS) ---------------------------------------*/
main {
    margin-left: 110px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main div{
    width: 370px;
    height: 300px;
    margin: 24px;
    border: 1px solid black;
    border-radius: 10px;
}

.color1 {
    background-color: lightcoral;
    box-shadow: 0px 0px 10px 3px lightcoral;
}

.color2 {
    background-color: lightblue;
    box-shadow: 0px 0px 10px 3px lightblue;
}

.color3 {
    background-color: lightyellow;
    box-shadow: 0px 0px 10px 3px lightyellow;
}
.color4 {
    background-color: lightsalmon;
    box-shadow: 0px 0px 10px 3px lightsalmon;
}
.color5 {
    background-color: lightseagreen;
    box-shadow: 0px 0px 10px 3px lightseagreen;
}

/* --------------------------------- Nota ------------------------------*/
.textoNota {
    position: relative;
    margin: 15px;
    width: 330px;
    height: 220px;
    overflow: scroll;
    resize: none;
    border-radius: 7px;
}

.hola {
    font-size: 40px;
}

.color1 .textoNota:focus {
    box-shadow: 0px 0px 10px 1px black;
    border: 3px dotted lightcoral;
    outline: none;
}

.color2 .textoNota:focus {
    box-shadow: 0px 0px 10px 1px black;
    border: 3px dotted lightblue;
    outline: none;
}

.color3 .textoNota:focus {
    box-shadow: 0px 0px 10px 1px black;
    border: 3px dotted rgb(255, 255, 137);
    outline: none;
}

.color4 .textoNota:focus {
    box-shadow: 0px 0px 10px 1px black;
    border: 3px dotted lightsalmon;
    outline: none;
}

.color5 .textoNota:focus {
    box-shadow: 0px 0px 10px 1px black;
    border: 3px dotted lightseagreen;
    outline: none;
}
/* ---------------------------------------------------------- BOTONES ---------------------------------------------------- */
/* -----------------Botones barra navegacion-----------------*/
#botonLogin {
    padding: 0px;
    background-color: transparent;
    border:0px;
    margin-top: 65px;
}

#botonLogin:hover {
    color: black;
}

#botonSettings {
    background-color: transparent;
    border: 0px;
}

#botonSettings:hover {
    color: black;
}

#botonLogout {
    background-color: transparent;
    border: 0px;
}

#botonLogout:hover {
    color: black;
}

.botonesConfiguracion {
    color: white;
}

button {
    width: 50px;
    height: 20px;
}

.botonesPrincipales {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 23px;
    text-align: center;
}

.botonesPrincipales:hover {
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px white;
}

#botonPrincipal1 {
    background-color: lightcoral;
}
#botonPrincipal2 {
    background-color: lightblue;
}
#botonPrincipal3 {
    background-color: lightyellow;
}
#botonPrincipal4 {
    background-color: lightsalmon;
}
#botonPrincipal5 {
    background-color: lightseagreen;
}

.botonesNota {
    display: flex;
    justify-content: space-between;
}

.borrar {
    margin: 0px;
    width: 50px;
    height: 30px;
    margin-left: 40px; 
    background-color: transparent;
    border: none;
}

.borrar:hover {
    color: red;
}

.descargar {
    margin: 0px;
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.descargar:hover {
    color: blue;
}

.guardar {
    margin: 0px;
    width: 50px;
    height: 30px;
    margin-right: 40px;
    background-color: transparent;
    border: none;
}

.guardar:hover {
    color: green;
}

/* ------------------Botones Ventana Settings------------------- */
#buttonCerrarSettings{
    align-self: flex-end;
    margin: -55px 0px 0px 0px;
    background-color: transparent;
    border: none;
    color: white;
    z-index:51;
    font-size: 35px;
}


#buttonGuardarSettings{
    align-self: flex-end;
    position: relative;
    top: 40px;
    margin-top: 20px;
}

/* --------------------- Popup Cambios Realizados ---------------------*/
#cambiosHechos {
    position: fixed;
    top: 50px;
    align-self: center;
    width: 250px;
    background-color:  rgb(97, 124, 255);
    border: 2px solid white;
    border-radius:10px;
    color: white;
    z-index: 60;
    text-align: center;
    font-weight: bold;
    box-shadow:
    0 0 10px #ffffff,  /* Brillo externo */
    0 0 20px #ffffff,  /* Brillo más difuso */
    0 0 30px rgb(255, 255, 255), /* Efecto neón */
    inset 0 0 10px rgb(255, 255, 255);
    animation: slide 0.5s ease-out, slideout 0.5s reverse 2s forwards;
}

@keyframes slideout {
    from {
        transform: translateY(-150px);
    }
}

@keyframes slide {
    from {
        transform: translateY(-150px);
    }
}

/* ----------------Ventana de ajustes (ajustar-tema, tipo-letra, tamaño-letra)---------------- */

#ventanaSettings {
    position: fixed;
    background-color: rgb(97, 124, 255);
    width: 40%;
    height: 290px;
    z-index: 50;
    border: 2px solid white;
    box-shadow: 
    0 0 10px #ffffff,  /* Brillo externo */
    0 0 20px #ffffff,  /* Brillo más difuso */
    0 0 30px rgb(255, 255, 255), /* Efecto neón */
    inset 0 0 10px rgb(255, 255, 255);
    border-radius: 20px;
    color: white;
    overflow: hidden;
}

#ventanaSettings section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#ventanaSettings h2 {
    position: absolute;
    top: 0;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    font-style: italic;
    font-weight: 900;
    color: white;
    font-size: 40px;
}

#ventanaSettings form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#ventanaSettings label {
    font-size: 20px;
}

#ventanaSettings select {
    width: 100px;
}

/* ---------- MediaQuerys ----------------*/

/* ------- Ventana Settings -----*/
@media only screen and (max-width: 600px) {
    #ventanaSettings h2 {
        font-size: 30px;
        text-align: left;
        margin: 15px 0px 0px 30px;
    }
}

@media only screen and (max-width: 440px) {
    #ventanaSettings {
       width: 200px;
    }
}